.userTitle {
  display: flex;
  gap: 15px;
  align-items: center;
}
  
.p {
    font-size: 22px;
  }
  
.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #7928CA;
    &:hover,
    &:focus {
      background-color: #FF0080;
      color: #fff;
      cursor: pointer;
    }
}
